.cell {
  width: 20px;
  padding: 30px;
  display: flex;
  background-color: grey;
  border: 1px solid #f4f4f4;
}

.board-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
